/* =========================
   1440px
========================= */

@media (max-width:1440px){

.hero-container{
    grid-template-columns:43% 57%;
}

.hero h1{
    font-size:4.6rem;
}

.hero p{
    font-size:1.7rem;
}

.hero-circle{
    width:1600px;
    height:1400px;
    right:-1100px;
}

.hero-model{
    width:1450px;
    right:-1050px;
}

.money{
    width:90px;
}

}

/* =========================
   1280px
========================= */

@media (max-width:1280px){

.hero-container{
    grid-template-columns:45% 55%;
}

.hero h1{
    font-size:4rem;
}

.hero p{
    font-size:1.5rem;
}

.hero-circle{
    width:1350px;
    height:1200px;
    right:-900px;
}

.hero-model{
    width:1200px;
    right:-800px;
}

.floating-card{
    transform:scale(.85);
}

.money{
    width:75px;
}

}
/* =========================
   1024px
========================= */

@media (max-width:1024px){

.hero-container{
    grid-template-columns:1fr;
}

.hero-content{
    max-width:700px;
    margin:auto;
    text-align:center;
}

.hero-buttons{
    justify-content:center;
}

.hero-stats{
    justify-content:center;
}

.hero-image{
    display:none;
}

}


/* ===========================
   768px
=========================== */

@media (max-width:768px){

.header{
    padding:0;
}

.nav{
    display:none;
}

.nav-actions{
    display:none;
}

.menu-btn{
    display:block;
}

.logo{
    font-size:2rem;
}

.hero{
    padding:40px 20px;
}

.hero h1{
    font-size:3rem;
}

.hero p{
    font-size:1.1rem;
    line-height:1.7;
}

.hero-buttons{
    flex-direction:column;
    align-items:center;
}

.primary-btn,
.secondary-btn{
    width:100%;
    max-width:280px;
    font-size:18px;
    text-align:center;
}

.hero-stats{
    flex-wrap:wrap;
}

.stat-card{
    width:140px;
}

}

/* ===========================
   480px
=========================== */

@media (max-width:480px){
.logo{
    font-size:1.7rem;
}

.navbar{
    height: 50px;
}

.hero h1{
    font-size:1rem;
}

.hero p{
    font-size:1rem;
    margin-bottom: 2px;
}

.primary-btn,
.secondary-btn{
    width:100%;
}

.stat-card{
    width:100%;
}

}


/* FEATURES REPONSIVITY */

/* laptop */
@media (max-width:1024px){

    .features{
        padding:90px 0;
    }

    .section-title{
        max-width:700px;
        margin:0 auto 60px;
    }

    .section-title h2{
        font-size:3rem;
    }

    .section-title p{
        font-size:1.2rem;
    }

    .features-grid{
        grid-template-columns:repeat(2,1fr);
        gap:25px;
    }

    .feature-card{
        padding:35px 28px;
    }

}

/* mobile */

@media (max-width:768px){

    .features{
        padding:70px 0;
    }

    .section-title{
        margin-bottom:45px;
    }

    .section-title span{
        font-size:.85rem;
        padding:8px 18px;
    }

    .section-title h2{
        font-size:2.3rem;
        line-height:1.2;
    }

    .section-title p{
        font-size:1rem;
        line-height:1.7;
        padding:0 10px;
    }

    .features-grid{
        grid-template-columns:1fr;
        gap:20px;
    }

    .feature-card{
        padding:30px 25px;
    }

    .feature-icon{
        width:70px;
        height:70px;
        font-size:2rem;
    }

    .feature-card h3{
        font-size:1.4rem;
    }

    .feature-card p{
        font-size:1rem;
    }

    .feature-link{
        margin-top:20px;
        font-size:.95rem;
    }

}

/* small phone */
@media (max-width:480px){

    .features{
        padding:60px 0;
    }

    .section-title h2{
        font-size:2rem;
    }

    .feature-card{
        padding:25px 20px;
        border-radius:20px;
    }

    .feature-icon{
        width:60px;
        height:60px;
        font-size:1.8rem;
    }

    .feature-card h3{
        font-size:1.2rem;
    }

}

@media (max-width:992px){

    .steps{

        flex-direction:column;

    }

    .step-arrow{

        transform:rotate(90deg);

    }

    .step-card{

        width:100%;

    }

}

/* CTA SECTION */

@media (max-width: 768px){

    .cta{

        padding:90px 20px;

    }

    .cta h2{

        font-size:2.5rem;

    }

    .cta p{

        font-size:1rem;

        line-height:1.7;

    }

    .cta-buttons{

        flex-direction:column;

        width:100%;

    }

    .cta-buttons a{

        width:100%;

        text-align:center;

    }

}

/* FOOTER CSS */

@media (max-width: 768px){

    .footer{

        padding:60px 20px 25px;

    }

    .footer-grid{

        grid-template-columns:1fr 1fr;

        gap:40px 25px;

    }

    .footer-brand{

        grid-column:1 / -1;

        max-width:none;

    }

    .footer-bottom{

        flex-direction:column;

        text-align:center;

        gap:8px;

    }

}