@media(max-width:768px){

.container{

width:94%;

}

}

@media(max-width:900px){

.nav-links{

display:none;

}

.login-btn{

display:none;

}

.primary-btn{

display:none;

}

.menu-button{

display:block;

}

}